{% extends "base.html"%}
{% load static %}
{% block title %} Administrateur {% endblock title %}
{% block content %}
<style>
    .submenu {
    display: none; 
    /* Ajoutez d'autres styles comme padding si nécessaire */
}
.submenu-item a.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #fff;
    font-weight: bold;
}
</style>
<div class="main-container d-flex"> 

    <div class="sidebar">
        {% include 'utilisateur/sidebar.html'%}
    </div>
        
        <div class="main-content flex-grow-1">
            <div class="top-bar-pac">
                PAC {{user.localite}}
            </div>
            <div class="content-wrapper p-4">
                
                {% if messages %}
                <div class="messages-container mb-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div class="d-flex justify-content-between align-items-center mb-3" style="margin-left:20px;">
                    <h2 style='text-align:center;'>{{ title }}</h2>
                    {% if mode == 'utilisateur' %}
                        <a href="{% url 'utilisateur:acc_admin' mode='ajout' %}" class="btn btn-primary btn-ajouter"><i class="bi bi-plus-lg"></i> Ajouter </a>
                    {% endif %}
                </div>
                <div class="table-responsive mt-3" style="margin-left:20px;">

                    {% if mode == 'utilisateur' %}
                        {% include 'utilisateur/usertable.html'%}
                    {% elif mode == 'groupe' %}
                       {% include 'utilisateur/groupuser.html'%}

                    {% elif mode == 'localite' %}
                        {% include 'utilisateur/localite.html'%}
                    
                    {% elif mode == 'modifier' %}
                        {% include 'utilisateur/modifuser.html'%}
                    {% elif mode == 'ajout' %}
                       {% include 'utilisateur/adduser.html'%}
                    {% elif mode == 'RA' %}
                            {% include 'utilisateur/uRa.html'%} 
                    {% endif %}

                </div>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
    $('.menu-toggle').on('click', function() {
        const nextSubmenu = $(this).next('.submenu');
        
        // Ferme les autres et bascule celui-ci
        $('.submenu').not(nextSubmenu).slideUp(300);
        nextSubmenu.slideToggle(300);
        
        // Gestion des flèches
        $(this).find('i').toggleClass('bi-caret-down-fill bi-caret-up-fill');
        $('.menu-toggle').not(this).find('i')
                         .removeClass('bi-caret-up-fill')
                         .addClass('bi-caret-down-fill');
    });
});
</script>
{% endblock content %}